
@{
    ViewBag.Title = "الطلبيات";
    ViewBag.Breadcrumb = new Breadcrumb(new Crumb[] {
        new Crumb("الصفحة الرئيسية", "", "fa-dashboard"),
        new Crumb("الطلبيات", "", "")
    });
}

<div class="row">
    <div class="col-md-12">
        <!-- TABLE: LATEST ORDERS -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">الطلبيات الحالية</h3>
                
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered no-margin" id="requests">
                        <thead>
                            <tr>
                                <th>الرمز</th>
                                <th>المنتج</th>
                                <th>عدد الوحدات</th>
                                <th>الكلفة المعيارية ($) </th>
                                <th>تاريخ الإنشاء</th>
                                <th>تاريخ آخر تعديل</th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>27893</td>
                                <th>
                                    <a href="~/Products/Details">
                                        حليب منكه فريز 200 مل
                                    </a>
                                </th>
                                <td>200</td>
                                <td>25.4216</td>
                                <td>@DateTime.Now.AddDays(-3).ToString("dd-MM-yyyy HH:mm")</td>
                                <td>@DateTime.Now.AddDays(-1).ToString("dd-MM-yyyy HH:mm")</td>
                                <td>
                                    <a data-toggle="modal" data-target="#combination-modal" class="btn btn-info btn-sm">تركيبة المنتج&nbsp;<i class="fa fa-gear"></i></a>
                                    <a href="~/Requests/Details" class="btn btn-success btn-sm">الطلبية&nbsp;<i class="fa fa-eye"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>27893</td>
                                <th>
                                    <a href="#">
                                        حليب منكه فريز 200 مل
                                    </a>
                                </th>
                                <td>200</td>
                                <td>25.4216</td>
                                <td>@DateTime.Now.AddDays(-3).ToString("dd-MM-yyyy HH:mm")</td>
                                <td>@DateTime.Now.AddDays(-1).ToString("dd-MM-yyyy HH:mm")</td>
                                <td>
                                    <a data-toggle="modal" data-target="#combination-modal" class="btn btn-info btn-sm">تركيبة المنتج&nbsp;<i class="fa fa-gear"></i></a>
                                    <a href="~/Requests/Details" class="btn btn-success btn-sm">الطلبية&nbsp;<i class="fa fa-eye"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /.table-responsive -->
            </div><!-- /.box-body -->
            <div class="box-footer clearfix">

            </div><!-- /.box-footer -->
        </div><!-- /.box -->


        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">الطلبيات المؤرشفة</h3>
                
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered no-margin" id="archived-requests">
                        <thead>
                            <tr>
                                <th>الرمز</th>
                                <th>المنتج</th>
                                <th>عدد الوحدات</th>
                                <th>الكلفة المعيارية ($) </th>
                                <th>تاريخ الإنشاء</th>
                                <th>تاريخ آخر تعديل</th>
                                <th>مدير الورشة</th>
                                <th>توافر المواد</th>
                                <th>المدير</th>
                                <th>تصدير من المستودع</th>
                                <th>استلام المواد</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>27893</td>
                                <th>
                                    <a href="~/Products/Details">
                                        حليب منكه فريز 200 مل
                                    </a>
                                </th>
                                <td>200</td>
                                <td>25.4216</td>
                                <td>@DateTime.Now.AddDays(-3).ToString("dd-MM-yyyy HH:mm")</td>
                                <td>@DateTime.Now.AddDays(-1).ToString("dd-MM-yyyy HH:mm")</td>
                                <td>
                                    <small class="label label-success" data-toggle="tooltip" title="@DateTime.Now.AddDays(-3).ToString("dd-MM-yyyy HH:mm")">تم</small>
                                </td>
                                <td>
                                    <small class="label label-success" data-toggle="tooltip" title="@DateTime.Now.AddDays(-3).ToString("dd-MM-yyyy HH:mm")">تم</small>
                                </td>
                                <td>
                                    <small class="label label-success" data-toggle="tooltip" title="@DateTime.Now.AddDays(-3).ToString("dd-MM-yyyy HH:mm")">تم</small>
                                </td>
                                <td>
                                    <small class="label label-success" data-toggle="tooltip" title="@DateTime.Now.AddDays(-3).ToString("dd-MM-yyyy HH:mm")">تم</small>
                                </td>
                                <td>
                                    <small class="label label-success" data-toggle="tooltip" title="@DateTime.Now.AddDays(-3).ToString("dd-MM-yyyy HH:mm")">تم</small>
                                </td>
                            </tr>
                            <tr>
                                <td>27952</td>
                                <th>
                                    <a href="~/Products/Details">
                                        حليب منكه فريز 200 مل
                                    </a>
                                </th>
                                <td>500</td>
                                <td>63.554</td>
                                <td>@DateTime.Now.AddDays(-3).ToString("dd-MM-yyyy HH:mm")</td>
                                <td>@DateTime.Now.AddDays(-1).ToString("dd-MM-yyyy HH:mm")</td>
                                <td>
                                    <small class="label label-success" data-toggle="tooltip" title="@DateTime.Now.AddDays(-3).ToString("dd-MM-yyyy HH:mm")">تم</small>
                                </td>
                                <td>
                                    <small class="label label-success" data-toggle="tooltip" title="@DateTime.Now.AddDays(-3).ToString("dd-MM-yyyy HH:mm")">تم</small>
                                </td>
                                <td>
                                    <small class="label label-danger" data-toggle="tooltip" title="@DateTime.Now.AddDays(-3).ToString("dd-MM-yyyy HH:mm") لا يوجد اعتماد">مع الرفض</small>
                                </td>
                                <td>
                                    <small class="label label-danger">ملغى</small>
                                </td>
                                <td>
                                    <small class="label label-danger">ملغى</small>
                                </td>
                            </tr>
                            <tr>
                                <td>27952</td>
                                <th>
                                    <a href="~/Products/Details">
                                        حليب منكه فريز 200 مل
                                    </a>
                                </th>
                                <td>500</td>
                                <td>63.554</td>
                                <td>@DateTime.Now.AddDays(-3).ToString("dd-MM-yyyy HH:mm")</td>
                                <td>@DateTime.Now.AddDays(-1).ToString("dd-MM-yyyy HH:mm")</td>
                                <td>
                                    <small class="label label-success" data-toggle="tooltip" title="@DateTime.Now.AddDays(-3).ToString("dd-MM-yyyy HH:mm")">تم</small>
                                </td>
                                <td>
                                    <small class="label label-danger" data-toggle="tooltip" title="@DateTime.Now.AddDays(-3).ToString("dd-MM-yyyy HH:mm") لا يوجد مواد">مع الرفض</small>
                                </td>
                                <td>
                                    <small class="label label-danger">ملغى</small>
                                </td>
                                <td>
                                    <small class="label label-danger">ملغى</small>
                                </td>
                                <td>
                                    <small class="label label-danger">ملغى</small>
                                </td>
                            </tr>
                            <tr>
                                <td>27893</td>
                                <th>
                                    <a href="~/Products/Details">
                                        حليب منكه فريز 200 مل
                                    </a>
                                </th>
                                <td>200</td>
                                <td>25.4216</td>
                                <td>@DateTime.Now.AddDays(-3).ToString("dd-MM-yyyy HH:mm")</td>
                                <td>@DateTime.Now.AddDays(-1).ToString("dd-MM-yyyy HH:mm")</td>
                                <td>
                                    <small class="label label-success" data-toggle="tooltip" title="@DateTime.Now.AddDays(-3).ToString("dd-MM-yyyy HH:mm")">تم</small>
                                </td>
                                <td>
                                    <small class="label label-success" data-toggle="tooltip" title="@DateTime.Now.AddDays(-3).ToString("dd-MM-yyyy HH:mm")">تم</small>
                                </td>
                                <td>
                                    <small class="label label-success" data-toggle="tooltip" title="@DateTime.Now.AddDays(-3).ToString("dd-MM-yyyy HH:mm")">تم</small>
                                </td>
                                <td>
                                    <small class="label label-success" data-toggle="tooltip" title="@DateTime.Now.AddDays(-3).ToString("dd-MM-yyyy HH:mm")">تم</small>
                                </td>
                                <td>
                                    <small class="label label-success" data-toggle="tooltip" title="@DateTime.Now.AddDays(-3).ToString("dd-MM-yyyy HH:mm")">تم</small>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /.table-responsive -->
            </div><!-- /.box-body -->
            <div class="box-footer clearfix">

            </div><!-- /.box-footer -->
        </div><!-- /.box -->
    </div><!-- /.col -->

</div><!-- /.row -->

<div class="modal fade" tabindex="-1" role="dialog" id="combination-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">تركيبة حليب منكه فريز 200 مل  </h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered no-margin" id="combination" data-toggle="table"
                           data-show-print="true" data-show="true">
                        <thead>
                            <tr>
                                <th>تصنيف المادة</th>
                                <th>اسم المادة</th>
                                <th>رمز المادة</th>
                                <th>مجموعة المادة</th>
                                <th>كمية الوصفة</th>
                                <th>نسبة الهدر</th>
                                <th>كمية الوصفة مع الهدر</th>
                                <th>الوحدة</th>
                                <th>الكلفة بالدولار</th>
                                <th>كلفة الوصفة</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>سكر أبيض</td>
                                <td>سكر أبيض</td>
                                <td>108002</td>
                                <td>مواد خام</td>
                                <td>0.022000</td>
                                <td>0.02</td>
                                <td>0.022440</td>
                                <td>KG</td>
                                <td>0.69</td>
                                <td>0.0154836000</td>

                            </tr>
                            <tr>
                                <td>سكر أبيض</td>
                                <td>سكر أبيض</td>
                                <td>108002</td>
                                <td>مواد خام</td>
                                <td>0.022000</td>
                                <td>0.02</td>
                                <td>0.022440</td>
                                <td>KG</td>
                                <td>0.69</td>
                                <td>0.0154836000</td>

                            </tr>
                            <tr>
                                <td>سكر أبيض</td>
                                <td>سكر أبيض</td>
                                <td>108002</td>
                                <td>مواد خام</td>
                                <td>0.022000</td>
                                <td>0.02</td>
                                <td>0.022440</td>
                                <td>KG</td>
                                <td>0.69</td>
                                <td>0.0154836000</td>

                            </tr>
                        </tbody>
                        <tfoot>
                        <th colspan="8" style="text-align:left;">
                            كلفة المنتج المعيارية
                        </th>
                        <th colspan="2">
                            $0.127081 = 69.89455 ليرة سورية
                        </th>
                    </table>
                </div><!-- /.table-responsive -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">إغلاق</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


@section scripts {
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#archived-requests').DataTable({
                "language": {
                    "url": "@Url.Content("~/Scripts/DataTables/Arabic.json")"
                }
            });
        });
    </script>
}